body{
    background-color: #141332;
  }
  .mainContainer{
    width: 100%;
    height: 100vh; 
    display: flex;
    color: white;
  }
  /* *************************************************************** */
  /* Sidebar */
  .sideBar{
    width: 25%;
    min-width: 25%;
    height: 100vh; 
    flex-grow: 0;
  }
  .sideBar h2,.mainContent h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .logo{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;    
    margin-top: 10%;
  }
  .logo img{
  width: 40px;
  }
  .buttonsContainer{
  width: 90%;
  display: flex;
  border: 1px solid #1D1D41;
  margin: auto;
  margin-top: 10%;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #1D1D41;
  margin-bottom: 10%;
  
  }
  button{
    margin: auto;
    margin-top: 2%;
    display: flex;
    background-color: transparent;
    color: white;
    align-items: center;
    gap: 10px;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  button:hover{
  background-color: #6359E9;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  }
  .buttonsContainer hr{
    width: 90%;
    border-color: #4b4986;
  }
  .signinContainer{
    margin: auto;
    width: 90%;
    margin-top: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 10%;   
  }
  .signinContainer img{
    width: 20%;
  }
  select{
    width: 120%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
  }
  .dropdown select option{
    color: white; /* Example color */
    background-color: #6359E9; 
  }
  .link {
    text-decoration: none;
    color: inherit;

  }
  
  /*************** Header Css **********************/
  .mainContent{
    width: 100%;
  }
  .mainContent h2{
    margin-bottom: 0px;
  }
  .headerContainer{
    width: 95%;
    margin: auto;
    display: flex;
  }
  .textContainer{
    width: 50%;
  }
  .textContainer img{
  width: 30px;
  margin-left: 2%;
  }
  .searchbarContainer{
    width: 40%;
    margin: auto;
    margin-top: 4.5%;
  }
  .searchbarContainer input{
    width: 90%;
    padding: 10px;
  }
  .searchinput{
    border: 1px solid #1D1D41;
    border-radius: 5px;
    background-color: #1D1D41;
    color: white;
  }
  .searchinput{
    background-image: url('../src/assets/images/search\ icon.svg'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 20px;
  }
  

/* *******************Profile Form************** */
.searchForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 2%;
  margin-top: 2%;
}
.searchField {
  margin-bottom: 3%;
}
.searchField input {
  width: 100%;
  padding: 3%;
  font-size: 16px;
  border: 1px solid #1D1D41;
  border-radius: 5px;
  background-color: #1D1D41;
  color:#AEABD8;
  margin-top: 10px;
}
.searchField label{
  margin-left: 2%;
  color: #AEABD8;
}
.searchButton {
  padding: 5%;
  padding-left: 5%;
  font-size: 16px;
  color: #fff;
  background-color: #1D1D41;
  border: 1px solid #1D1D41;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
}
.searchButton h1{
  margin: 0px;
}
.searchButton{
  margin-left: 0px;
}
.formContainer{
 display: flex;
 width: 100%;
}
.profilePicture{
  width: 40%;
  margin-left: 10%;
  margin-top: 3%;
  justify-content: center;
}
.profilePicture img{
  width: 50%;
}
.profilePicture p{
 margin-left: 10%;
  color: #AEABD8;
  cursor: pointer;
}