body{
  background-color: #141332;
}
.mainContainer{
  width: 100%;
  display: flex;
  color: white;
}
/* *************************************************************** */
/* Sidebar */
.sideBar{
  width: 25%;
  min-width: 25%;
  flex-grow: 0;
}
.sideBar h2,.mainContent h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{ 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;    
  margin-top: 10%;
}
.logo img{
width: 40px;
}
.buttonsContainer{
width: 90%;
display: flex;
border: 1px solid #1D1D41;
margin: auto;
margin-top: 10%;
justify-content: center;
border-radius: 10px;
flex-direction: column;
background-color: #1D1D41;
margin-bottom: 10%;

}
button{
  margin: auto;
  margin-top: 2%;
  display: flex;
  background-color: transparent;
  color: white;
  align-items: center;
  gap: 10px;
  width: 90%;
  border: 1px solid transparent;
  border-radius: 10px;
}
.buttonsContainer button:first-child {
  margin-top: 20%;
}
button:hover{
background-color: #6359E9;
border: 1px solid;
border-radius: 10px;
cursor: pointer;
}
.buttonsContainer hr{
  width: 90%;
  border-color: #4b4986;
}
.signin-container{
  margin: auto;
  width: 90%;
  margin-top: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 10%;   
}
.signin-container img{
  width: 40px;
}
select{
  width: 120%;
  height: 40px;
  background-color: transparent;
  color: white;
  border: transparent;
  cursor: pointer;
}
.dropdown select option{
  color: white; /* Example color */
  background-color: #6359E9; 
}


/*************** Header Css **********************/
.mainContent{
  width: 75%;
}
.mainContent h2{
  margin-bottom: 0px;
}
.headerContainer{
  width: 95%;
  margin: auto;
  display: flex;
}
.textContainer{
  width: 50%;
}
.textContainer img{
width: 30px;
margin-left: 2%;
}
.searchbarContainer{
  width: 32%;
  margin: auto;
  margin-top: 4.5%;
}
.searchbarContainer input{
  width: 90%;
  padding: 10px;
}
.searchinput{
  border: 1px solid #1D1D41;
  border-radius: 5px;
  background-color: #1D1D41;
  color: white;
}
.searchinput{
  background-image: url('../src/assets/images/search\ icon.svg'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 20px;
}

/********************* Cards Container*************************/
.cardsContainer{
  width: 97%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.firstCard{
  width: 30%;
  border: 1px solid #1D1D41;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
  gap: 10px;
  background-color: #1D1D41;
  
}
.imageContainer img{
  width: 35px;
}
.valuesContainer h4,.valuesContainer p{
  margin: 0px;
}
.valuesContainer h4{
  margin-top: 5px;
}
.valuesUpdate p{
  margin-top: 35px;
  color: #02B15A;
  background-color: rgba(2, 177, 90, 0.15); 
  border-radius: 5px;
  padding: 5px 10px;
}
.firstCard:nth-of-type(2) .valuesUpdate p{
  margin-top: 35px;
  color: #E41414;
  background-color: rgba(235, 0, 27, 0.15);; 
  border-radius: 5px;
  padding: 5px 10px;
}
